@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  letter-spacing: 0.025rem;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles for Scrollbars */
html,
body {
  overflow: auto; /* Ensures scrolling works normally */
  scrollbar-width: thin; /* Makes the scrollbar thinner in Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* Dark scrollbar */
}

/* For Webkit browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Dark scrollbar */
  border-radius: 10px; /* Rounded edges */
}

body::-webkit-scrollbar-track {
  background: transparent; /* Invisible track */
}
